<div class="col-md-6 col-md-offset-3" >
	<form name="contactForm" ng-submit="submitForm()" novalidate>
		<div class="form-group">
			<label for="name">Name</label>
			<input name="name" id="name" class="form-control" pattern="^[A-Za-z]{3}" ng-model="o.name" required />
			<span ng-show="contactForm.name.$touched && contactForm.name.$error.required">This Field is required</span><span ng-show="contactForm.name.$touched && contactForm.name.$error.pattern">Atleast 3 characters required</span>
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input name="email" id="email" type="email" class="form-control" ng-model="o.email" required />
			<span ng-show="contactForm.email.$dirty && contactForm.email.$error.email">Email Format is incorrect</span>
			<span ng-show="contactForm.email.$dirty && contactForm.email.$error.required">Email required</span>
		</div>
		<div class="form-group">
			<label for="comment">Comment</label>
			<textarea name="comment" class="form-control" ng-model="o.comment" required >
			</textarea>
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-primary" ng-disabled="contactForm.$invalid"/>
		</div>
	</form>
	
	<pre>
		{{contactForm.$error | json}}
	</pre>
</div>